<h1>Items</h1>
<%= link_to "New Item", new_merchant_item_path(@merchant)%>
<h2>Enabled Items</h2>
<ul>
	<% @merchant.items.order(:id).each do |item| %>
		<% if item.enabled? %>
			<li>
				<%= link_to item.name, merchant_item_path(@merchant, item) %> - <i><%= item.status.titleize %></i>
				<%= button_to "Disable Item", change_status_merchant_items_path(@merchant, item), method: :get%>
			</li>
		<% end %>
	<% end %>

</ul>
<h2>Disabled Items</h2>
<ul>
	<% @merchant.items.order(:id).each do |item| %>
		<% if item.disabled? %>
			<li>
				<%= link_to item.name, merchant_item_path(@merchant, item) %> - <i><%= item.status.titleize %></i>
				<%= button_to "Enable Item", change_status_merchant_items_path(@merchant, item), method: :get%>
			</li>
		<% end %>
	<% end %>
</ul>