<%= @merchant.name %>
<%= link_to 'My Items', merchant_items_path(@merchant) %>
<%= link_to 'My Invoices', merchant_invoices_path(@merchant) %>
<% @top_five_hash.each do |entry| %>
	<p><% if entry[1] > 1 %>
		<%= "#{entry[0]} - #{entry[1]} purchases" %>
	<% else %>
		<%= "#{entry[0]} - #{entry[1]} purchase" %>
	<% end %></p>
<% end %>